section
{
	width: 70%;
	height: 80%;
	background-color: #e0b764;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6%;
	opacity: 0.85;
	border-radius: 50px;
}
article ul > li:nth-child(4)
{
	color: red;
}
section h1
{
	text-align: center;
	font-weight: 500;
	font-size: 3vw;
	margin: 0;
	padding: 0;
}
label
{
	font-size: 1.75vw;
	font-weight: 500;
}
input[type="text"]
{
	border-radius: 25px;
	border: none;
	width: 30%;
	font-size: 2vw;
	box-sizing: border-box;
}
input[type="radio"]
{
	margin-top: 2%;
}
.labelRadio
{
	font-size: 1.25vw;
	margin-left: 1%;
}
input[type="submit"]
{
	width: 30%;
	padding: 0.75%;
	font-size: 2vw;
	background-color: #4dc440;
	box-sizing: border-box;
	border-radius: 25px;
	border: 2px solid #0c5904;
	color: black;
}
input[type="submit"]:hover
{
	background-color: #28871d;
}
#divForm
{
	margin-left: 5%;
	margin-top: 3%;
}