section
{
	width: 70%;
	height: 70%;
	background-color: #e0b764;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	opacity: 0.85;
	border-radius: 50px;
}
article ul > li:nth-child(3)
{
	color: red;
}
section h1
{
	text-align: center;
	font-weight: 500;
	font-size: 3vw;
	margin: 0;
	padding: 0;
}
label
{
	font-size: 1.75vw;
	font-weight: 500;
}
input[type="text"]
{
	border-radius: 25px;
	border: none;
	width: 60%;
	font-size: 2vw;
}
#txtDescription
{
	width: 80%;
	margin-left: 0;
}
.leftInput
{
	float: left;
	width: 50%;
}
#container
{
	height: 100%;
	display: block;
}
.labelRadio
{
	font-size: 1.25vw;
}
input[type="submit"]
{
	width: 30%;
	font-size: 2vw;
	padding: 0.75%;
	border-radius: 25px;
	margin-top: 6%;
	margin-left: 26%;
	color: black;
	background-color: #5ccc4f;
	border: 2px solid #0f5b06;
}
input[type="submit"]:hover
{
	background-color: #1c7c11;
}
#centerDiv
{
	margin-left: 16.5%;
}
input[type="radio"]
{
	justify-content: space-around;
	margin-right: 2%;
}
ul > li a:link
{
	text-decoration: none;
	color: white;
}