#container main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 18px;
    color: #bf9000; 
}

#container section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 1%;
}

#container section div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

#container .basic-quests div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

body {
    background-image: url("../img/wood-background.jpg");
}

h1{
    background: linear-gradient(160deg, rgba(0,0,0,1) 4%, rgba(0,0,0,0.542454481792717) 26%, rgba(0,0,0,0) 58%);
}