<!DOCTYPE html>

<html>
<head>
    <title>Quest Store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Quest Store for Codecool">
    <meta name="keywords" content="quests">
    <meta name="author" content="Kamil Brodziak, Hubert Struminski, Maciek Paluszkiewicz">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/mentorMenu.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/mentorStore.css">

    <script src="../static/scripts/cookies.js" async></script>
</head>
<body>
<div id="container">
    <main>
        <article>
            <ul style="list-style-type: none;">
                <li>MENU</li>
                <li><a href="../static/mentorCodecoolers.html">Codecoolers</a></li>
                <li><a href="../static/mentorQuests.html">Quests</a></li>
                <li><a href="../static/mentorStore.html">Store</a></li>
                <li><a href="../static/mentorAchievements.html">Achievements</a></li>
                <li><a href="../static/mentorStatistics.html">Statistics</a></li>
            </ul>
        </article>

        <article id="articleSecond">
            <section>
                <h1>Add Artifact</h1>
                <div id="centerDiv">
                    <div class="leftInput">
                        <label>Set Name:</label><span style="color: red; font-size: 1.75vw;"><sup>*</sup></span><br />
                        <input type="text" id="txtArtifact" />
                    </div>

                    <div class="leftInput">
                        <label>Set Price:</label><span style="color: red; font-size: 1.75vw;"><sup>*</sup></span><br />
                        <input type="text" id="txtPrice" />
                    </div>

                    <div style="clear: both;"></div>

                    <div id="container">
                        <br />
                        <label>Add Description:</label><span style="color: red; font-size: 1.75vw;"><sup>*</sup></span><br />
                        <input type="text" id="txtDescription" />

                        <br />
                        <br />

                        <label>Add Category:</label><span style="color: red; font-size: 1.75vw;"><sup>*</sup></span><br />
                        <div id="radioButtons">
                            <br />
                            <input type="radio" name="categories" value="single" /><label class="labelRadio">Single</label>
                            <input type="radio" name="categories" value="team" /><label class="labelRadio">Team</label>

                            <div id="btnAccept">
                                <input type="submit" value="ACCEPT" id="btnAccept" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>

        <div style="clear: both;"></div>
    </main>
    <nav>
        <ul id="navOptions">
            <li><a id="main_anchor" href="../static/index.html">Main</a></li>
            <li id="active"><a id="account_anchor" href="#">Account</a></li>
            <li><a id="quests_anchor" href="#">Quests</a></li>
            <li><a id="contact_anchor" href="../static/contact.html">Contact</a></li>
            <li><a id="logout_anchor" href="../static/logout.html">Logout</a></li>
        </ul>
    </nav>
</div>

</body>
</html>