<!DOCTYPE html>

<html>
<head>
    <title>Quest Store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Quest Store for Codecool">
    <meta name="keywords" content="quests">
    <meta name="author" content="Kamil Brodziak, Hubert Struminski, Maciek Paluszkiewicz">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <link rel="stylesheet" type="Text/css" href="../static/styles/menu.css">

    <script src="../static/scripts/cookies.js" async></script>
</head>
<body>
<div id="container">
    <main>
        <article>
            <section class="note">Actual</section>
            <section class="note">...</section>
            <section class="note">TOP 5</section>

            <div style="clear: both;"></div>
        </article>
    </main>
    <nav>
        <ul id="navOptions">
            <li id="active"><a id="main_anchor" href="../static/menu.html">Main</a></li>
            <li><a id="account_anchor" href="#">Account</a></li>
            <li><a id="quests_anchor" href="#">Quests</a></li>
            <li><a id="contact_anchor" href="../static/contact.html">Contact</a></li>
            <li><a id="logout_anchor" href="../static/logout.html">Logout</a></li>
        </ul>
    </nav>
</div>
</body>
</html>