<!DOCTYPE html>

<html>
<head>
    <title>Quest Store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Quest Store for Codecool">
    <meta name="keywords" content="quests">
    <meta name="author" content="Kamil Brodziak, Hubert Struminski, Maciek Paluszkiewicz">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/studentPanel.css">
    <script src="../static/scripts/cookies.js" async></script>
</head>
<body>
<div id="container">
    <div id="main">
        <div id="leftPart">
            <article id="store">
                <h1>Store</h1>
                <ul id="productList">
                </ul>
            </article>
            <div id="settings">
                <a id="settings_anchor" href="../static/accountSettings.html">Settings</a>
            </div>
        </div>
        <div id="rightPart">
            <div id="stat">
                <div id="coins"><img src="../static/images/coins.png" alt=""><span id="coinsCount">{{ coins }}</span> Coins</div>
                <div id="lvl">{{ level }} Lvl</div>
            </div>
            <div id="statistics">
                <h1>Statistics</h1>
                <ul id="statisticList">
                </ul>
            </div>
            <div id="quest">
                <a href="../static/questManager.html">Quest Manager</a>
            </div>
        </div>
    </div>
    <nav>
        <ul id="navOptions">
            <li><a id="main_anchor" href="../static/index.html">Main</a></li>
            <li id="active"><a id="account_anchor" href="#">Account</a></li>
            <li><a id="quests_anchor" href="#">Quests</a></li>
            <li><a id="contact_anchor" href="../static/contact.html">Contact</a></li>
            <li><a id="logout_anchor" href="../static/index.html" onclick="return logout()">Logout</a></li>
        </ul>
    </nav>
</div>
</body>
</html>