<!DOCTYPE html>

<html>
<head>
    <title>Quest Store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Quest Store for Codecool">
    <meta name="keywords" content="quests">
    <meta name="author" content="Kamil Brodziak, Hubert Struminski, Maciek Paluszkiewicz">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/student-view-quests.css">
    <link rel="stylesheet" type="text/css" href="../static/icons/css/rpg-awesome.css">

    <script src="../static/scripts/cookies.js" async></script>
</head>
<body>
<div id="container">
    <main>
        <section class="main-quests">
            <h1>Main quests:</h1>
            <div>
                <figure class="figure-long">
                    <img src="../static/img/button104-long.png" alt="Exploring Dungeon" class="button-long">
                    <img src="../static/img/button104-round.png" alt="Icon" class="button-long-round">
                    <span>Exploring Dungeon</span>
                    <i class="ra ra-hole-ladder ra-lg"></i>
                </figure>
                <figure class="figure-long">
                    <img src="../static/img/button104-long.png" alt="Solving Magic Riddle" class="button-long">
                    <img src="../static/img/button104-round.png" alt="Icon" class="button-long-round">
                    <span>Solving Magic Riddle</span>
                    <i class="ra ra-fairy-wand ra-lg"></i>
                </figure>
                <figure class="figure-long">
                    <img src="../static/img/button104-long.png" alt="Slaying a Dragon" class="button-long">
                    <img src="../static/img/button104-round.png" alt="Icon" class="button-long-round">
                    <span>Slaying a Dragon</span>
                    <i class="ra ra-wyvern ra-lg"></i>
                </figure>
            </div>
        </section>
        <section class="weekly-special-quests">
            <h1>Weekly Special Quests:</h1>
            <div>
                <figure class="figure-long">
                    <img src="../static/img/button104-long.png" alt="111" class="button-long">
                    <img src="../static/img/button104-round.png" alt="Icon" class="button-long-round">
                    <span>under construction</span>
                    <i class="ra ra-gear-hammer ra-lg"></i>
                </figure>
                <figure class="figure-long">
                    <img src="../static/img/button104-long.png" alt="222" class="button-long">
                    <img src="../static/img/button104-round.png" alt="Icon" class="button-long-round">
                    <span>under construction</span>
                    <i class="ra ra-gear-hammer ra-lg"></i>
                </figure>
                <figure class="figure-long">
                    <img src="../static/img/button104-long.png" alt="333" class="button-long">
                    <img src="../static/img/button104-round.png" alt="Icon" class="button-long-round">
                    <span>under construction</span>
                    <i class="ra ra-gear-hammer ra-lg"></i>
                </figure>
            </div>
        </section>
        <section class="basic-quests">
            <h1>Basic Quests:</h1>
            <div>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Spot Trap" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Spot Trap</span>
                    <i class="ra ra-bear-trap ra-lg"></i>
                </figure>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Taming a Pet" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Taming a Pet</span>
                    <i class="ra ra-cat ra-lg"></i>
                </figure>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Recruting N00bs" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Recruting N00bs</span>
                    <i class="ra ra-beer ra-lg"></i>
                </figure>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Forging Weapons" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Forging Weapons</span>
                    <i class="ra ra-anvil ra-lg"></i>
                </figure>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Early Bird" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Early Bird</span>
                    <i class="ra ra-key-basic ra-lg"></i>
                </figure>
            </div>
            <div>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Fast As Unicorn" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Fast As Unicorn</span>
                    <i class="ra ra-horseshoe ra-lg"></i>
                </figure>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Achiever" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Achiever</span>
                    <i class="ra ra-trophy ra-lg"></i>
                </figure>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Fortunate" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Fortunate</span>
                    <i class="ra ra-queen-crown ra-lg"></i>
                </figure>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Write a Scroll" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Write a Scroll</span>
                    <i class="ra ra-scroll-unfurled ra-lg"></i>
                </figure>
                <figure class="figure-short">
                    <img src="../static/img/button66-long.png" alt="Enter The Arena" class="button-long">
                    <img src="../static/img/button66-round.png" alt="Icon" class="button-long-round">
                    <span>Enter The Arena</span>
                    <i class="ra ra-metal-gate ra-lg"></i>
                </figure>
            </div>
        </section>
    </main>
    <nav>
        <ul id="navOptions">
            <li><a id="main_anchor" href="../static/index.html">Main</a></li>
            <li><a id="account_anchor" href="../static/studentPanel.html">Account</a></li>
            <li id="active"><a id="quests_anchor" href="../static/student-quests.html">Quests</a></li>
            <li><a id="contact_anchor" href="../static/contact.html">Contact</a></li>
            <li><a id="logout_anchor" href="../static/logout.html">Logout</a></li>
        </ul>
    </nav>
</div>

</body>
</html>